
.content{
  display: flex;
  height: 100vh;
  width: calc(100vw - 10);
  border: 1px solid #61dafb;
  color: #000;
  aside{
    flex: 3;
    background-color: #61dafb;
    background-image: url(./assets/img/background_Login.svg);
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: 30px 180px;

    .aside-login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
  }
  main{
    flex: 4;
    background-color: #fafafa;
  }

  .login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 20px;

        .input-group{
        display: flex;
        justify-content: center;
        gap: 5px;
        background-color: #fff;
        border-radius: 9999px;
        height: 45px;
        padding: 0 10px;
        box-shadow: 2px 4px 12px rgba(0,0,0,0.04);

            input{
                border:none;
                background-color: transparent;
                width: 300px;
                outline: none;
                padding: 5px;
                font-size: 14px;
                font-weight: 600;
            }
        
        }

        button{
            width: 300px;
            height:  45px;
            border-radius: 9999px;
            font-weight: 600;
            background-color: #61dafb;
            border: none;
            
        }

        .btn-submit{
            box-shadow: 2px 4px 12px rgba(0,0,0,0.1);
        }

        .btn-forgot{
            background-color: transparent;
            border: none;
            text-decoration: underline;
        }
    }

}